"Computer Designs/6502-Cartridge-Design/.history/"
"Computer Designs/CYKEYBOARD/.history/"
"Computer Designs/Cykeyboard2/.history/"
"Computer Designs/Cykomputer/.history/"
"Language Compiler/bin/"
"Language Compiler/__pycache__/"
